body {
    margin: 0;
    background-color: #2E2F43;
    color: #FFF;
}
.dropping{
    background-color: #646281;
    transition: background-color 200ms linear;
}
textarea{
    resize: none;
    position: fixed;
    left:0; top:0; right:0; bottom:0;
    padding: 10px;
    margin: 5px;
    background-color: #3E3D5F;
    color: #FFF;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    tab-size: 4;
}
.txtIn{
    bottom: 40%;
    right: 50%;
}
.txtOut{
    bottom: 40%;
    left: 50%;
}
.txtEd{ 
    top: 60%;
}