body {
    margin: 0;
    background-color: #2E2F43;
    color: #FFF;
    margin-left: 5px;
    overflow: hidden;
}
.toolbar{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}
.txt{
    background-color: #3E3D5F;
    color: #FFF;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    tab-size: 4;
    resize: none;
    outline: .5px solid #aaa;
    border: 0;
}
.dropping{
    background-color: #646281;
    transition: background-color 200ms linear;
}
.txt:focus-within{
    outline: 1px solid #fff;
    border-radius: 2px;
}
.txtPanel{
    position: fixed;
    left:0; top: 3em; right:0; bottom:0;
    padding: 10px;
    margin: 5px;
}
.ed{
    margin: 0;
    height: 100%;
}
.txtIn{
    bottom: 40%;
    right: 50%;
}
.txtOut{
    bottom: 40%;
    left: 50%;
}
.txtEd{
    background-color: #3E3D5F;
    top: calc(60% + 1.5em);
    position: fixed;
    left:0; right:0; bottom:1.5em;
    margin: 5px;
    outline: .5px solid #aaa;
    padding: 8px;
}
.txtEd:focus-within{
    outline: 1px solid #fff;
    border-radius: 2px;
}
.lblError{
    position: fixed;
    top: 60%;
    color: orange;
}